# openE906 simulation workspace
smart_run/work/*

# Waveforms
*.vcd
*.fsdb

# Simulator outputs
*.vvp
simv*
csrc/
ucli.key
novas_dump.log

# Build outputs
*.o
*.elf
*.obj
*.pat
*.hex

# Logs and reports
*.log
*.report

# Local Xuantie toolchain
/Xuantie-900-gcc-elf-newlib-x86_64-V3.2.0-20250627.tar.gz
/Xuantie-900-gcc-elf-newlib-x86_64-V3.2.0-20250627/
